<h2><%= @cocktail.name %></h2>
<div class="card-product">
   <%=  cl_image_tag @cocktail.photo.key if @cocktail.photo.attached? %>
<div class="row">
   <div class="col-sm-12 col-md-6">
      <table class="table table-bordered">
        <tbody>
          <thead>
            <th>Ingredient</th>
            <th>Description</th>
            <th>Supprimer</th>
          </thead>
          <% @cocktail.doses.each do |dose| %>
            <tr>
              <td><li><%= dose.ingredient.name %></li></td>
              <td><li><%= dose.description %></li></td>
              <td>
                <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i> class="fa fa-trash destroy_dose"</i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-sm-12 col-md-6">
    </div>
  </div>
   </div>
  <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class: "btn btn-ghost" %>




 <%= link_to "retourner à l'accueil", cocktails_path, class: "btn btn-ghost" %>
</div>



